:root {
  --main-color: #2196f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  padding: 25px;
  text-align: right;
  border-right: 1px rgb(151, 151, 151) solid;
  height: 800px;
}

span {
  color: rgb(151, 151, 151);
}

.image {
  width: 100%;
  height: 300px;
}

.image img {
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  width: 100%;
  height: 100%;
}

.star i {
  position: relative;
  left: 80%;
  color: rgb(255, 182, 36);
}

h5 {
  color: rgb(0, 112, 205);
}

.icons {
  border-top: 1px rgb(151, 151, 151) solid;
  border-bottom: 1px rgb(151, 151, 151) solid;
  padding: 20px;
}

.icons div {
  padding: 10px;
}

.btn {
  background-color: rgb(0, 112, 205);
  color: white;

}

.btn:hover {
  color: white;
  text-decoration: none;
}

.navbar {
  background-color: rgb(214, 212, 212);
  border-radius: 0px 0px 20px 20px;
}

.navbar-brand {
  font-weight: bold;
  font-size: 27px;
  position: relative;
  /* color: white; */
  color: black
}

.navbar-brand:hover {
  z-index: 50;
  color: var(--main-color);
}

.navbar-brand::after {
  content: "";
  position: absolute;
  right: -15px;
  width: 10px;
  height: 10px;
  background-color: var(--main-color);
  border-radius: 50%;
  top: 50%;
  transition: ease-in-out 1.1s;
}

.navbar-brand:hover::after,
.navbar-brand:hover::before {
  height: 100%;
  top: 0;
  width: 155%;
  border-radius: 20px;
  opacity: 0.3;
}

.main i {
  font-size: 30px;
  z-index: 5;
  color: black
}

.navbar-nav .nav-link {
  color: black;

}

.navbar-nav .nav-link:hover,
.navbar .nav-item .active {
  color: var(--main-color);
}

.contactUs .container {
  justify-content: space-between;
}

/* Footer */
.footer {
  background-color: #12151F;
  color: white;
  text-transform: capitalize;
  overflow: hidden;
  position: relative;
  border-radius: 10px 10px 0px 0px;
}

.footer .single-widge-home {
  position: relative;
}

.footer iframe {
  /* border-radius: 50%; */
  background-image: url('../Image/Map.jpg');
  background-size: cover;

}

.footer .single-widge-home {
  margin-right: 20px;
}

.footer-widget {
  padding-top: 20px;
}

.footer-widget .container a {
  color: white;
  text-decoration: none;
}

.footer-widget .container a:hover {
  color: var(--main-color)
}

.footer input[type='email'] {
  display: inline-block;
  margin: auto;
  width: 250px;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
}

.footer input[type='email']:focus {
  outline: none;
}

.footer form .template-btn {
  color: #fff;
  background: linear-gradient(to right, #244cfd, #15e4fd);
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  display: inline-block;
  padding: 12px 30px !important;
  transition: all .2s ease-in-out;
  border-style: none;
}

.footer .footer-copyright {
  margin-top: 50px;
}

.footer .footer-copyright span {
  color: var(--main-color);
  font-size: 20px;
  font-weight: bold;
}

.footer .footer-copyright .socialMedia1 {
  display: flex;
  /* justify-content: space-evenly; */
}

.footer .footer-copyright .socialMedia1 i {
  background-color: #EEE;
  padding: 12px;
  color: #777;
  transition: ease-in-out 0.5s;
  margin: 0px 12px;
}

.footer .footer-copyright .socialMedia1 i:hover {
  color: #fff;
  background: linear-gradient(to right, #244cfd, #15e4fd);
}

/* Footer */