{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فيزيتا</title>

    <!-- All Style files -->
    <link rel="stylesheet" href="{% static 'Home/Style/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'Home/Style/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'Home/Style/Normalize.css' %}">
    <link rel="stylesheet" href="{% static 'Home/Style/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'Home/Style/main.css' %}">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap"
        rel="stylesheet">

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>

<body style="direction: rtl;">

    <!-- Setting-Box -->

    <div class="setting-box">
        <div class="content-icon">
            <i class="fa fa-gear"></i>
        </div>
        <div class="setting-container">
            <div class="options">
                <h5>ألوان الموقع</h5>
                <ul class="color-list">
                    <li data-color="#03A9F4"></li>
                    <li data-color="#003D4C"></li>
                    <li data-color="#009688"></li>
                    <li data-color="#FF9800"></li>
                </ul>
            </div>
            <div class="options">
                <h5>خيارات الخلفية</h5>
                <div class="randomBG">
                    <button class="btn btn-success active" data-background="true">نعم</button>
                    <button class="btn btn-danger" data-background="false">لا</button>
                </div>
            </div>
            <div class="options">
                <h5>خيارات الكروات</h5>
                <div class="bulletsOption">
                    <button class="btn btn-success active" data-bullet="true">نعم</button>
                    <button class="btn btn-danger" data-bullet="false">لا</button>
                </div>
            </div>
            <div class="options">
                <h5>إعدادت اللغة</h5>
                <div class="language">
                    <a href="{% url 'arabic' %}" class="btn btn-success active" data-bullet="true">اللغة العربية</a>
                    <a href="{% url 'Home' %}" class="btn btn-danger " data-bullet="false">الإنجليزية</a>
                </div>
            </div>
        </div>
        <button class="btn btn-danger reset">إعادة تعيين</button>

    </div>
    <!-- Setting-Box -->
    <!-- NavBullets -->
    <div class="nav-bullet">
        <div class="bullets" data-section=".landing">
            <div class="tool-bullet">الصفحه الرئيسيه</div>
        </div>
        <div class="bullets" data-section=".services">
            <div class="tool-bullet">العيادات الخارجيه</div>
        </div>
        <div class="bullets" data-section=".who-we-are">
            <div class="tool-bullet">من نحن</div>

        </div>
        <div class="bullets" data-section=".informations">
            <div class="tool-bullet">معلمومات</div>

        </div>
        <div class="bullets" data-section=".public-feed">
            <div class="tool-bullet">ردود الفعل</div>
        </div>
        <div class="bullets" data-section=".footer">
            <div class="tool-bullet">إتصل بنا</div>
        </div>

    </div>
    <!-- NavBullets -->

    <!-- About Us -->
    <div class="aboutUs">
        <div class="container">
            <div class="infos">
                <a href="#" class="info">
                    <i class="fa-solid fa-mobile-screen-button"></i>
                    <p>إاتصل بنا على +١٣٠٥٧٠٨٢٥٦٣
                    </p>
                </a>
                <a href="https://mail.google.com/" target="_blank" class="info"><i class="fa-solid fa-envelope"></i>
                    <p>medical@example.com</p>
                </a>

                <a href="https://www.google.com/maps/@29.0607152,31.1137432,14z" target="_blank" class="info"><i
                        class="fa-solid fa-location-dot"></i>
                    <p> موقعنا</p>
                </a>

            </div>
            <div class="socialMedia">
                <a href="http://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook-f"></a></i>

                <a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://vimeo.com/" target="_blank"><i class="fa-brands fa-vimeo-v"></i></a>
            </div>
            <div class="btn btn-outline-success login"><a href="{% url 'ARsignup' %}">اشترك</a>
            </div>
            <div class="btn btn-outline-success signin"><a href="{% url 'ARlogin' %}">تسجيل الدخول</a>
            </div>
        </div>

    </div>
    <!-- About Us -->

    <!-- Nav Bar -->
    <div class="landing" style="background-image: url({% static 'Home/Image/landing2.jpg' %} )">

        <div class=" overlay"></div>

        <div class="intro-text">
            <h1>مرحبا بك فى مؤسسه <span>فيزيتا</span></h1>
            <p>يمكنك حجز استطلاع من خلالنا </p>
        </div>
        <div class="navbar navbar-expand-lg ">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="container collapse navbar-collapse" id="navbarSupportedContent">
                <div class="main">
                    <a class="navbar-brand" href="{% url 'arabic' %}">فيزيتا</a>
                    <i class="fa-solid fa-house-chimney-medical"></i>

                </div>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'arabic' %}">الصفحه الرئيسيه</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">العيادات الخارجيه</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#who-we-are">من نحن</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#feedback">ردود الفعل</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">إتصل بنا</a>
                    </li>
                </ul>
            </div>
            <!-- </div> -->
        </div>


    </div>
    <!-- Nav Bar -->
    <!-- Services -->

    <div class="services" id="services">

        <div class="main-heading">
            <h1>العيادات الخارجيه</h1>
        </div>
        <div class="container">
            <div class="input-group w-25">
                <input type="text" class="form-control" placeholder="إدخل اسم العياده" aria-label="Username"
                    aria-describedby="basic-addon1">
                <button class="btn btn-success">بحث</button>
            </div>
        </div>
        <section>
            <div class="swiper mySwiper container">
                <div class="swiper-wrapper content">

                    <div class="swiper-slide serv-content"
                        style="background-image: url({% static 'Home/Image/service1.jfif' %}); background-repeat: no-repeat; background-size: cover;">

                        <div class="overlay"></div>
                        <div class="card-content" style="opacity: 100%;z-index: 1;">
                            <h1>الطب الباطني</h1>
                            <p>نحن سعداء للتعامل معنا ونرجو الا تكون اخر معامله بيننا
                            </p>
                            <button class="btn btn-primary book"><a href="{% url 'internal' %}">استعلام</a></button>
                        </div>

                    </div>

                    <div class="swiper-slide serv-content"
                        style="background-image: url({% static 'Home/Image/service2.jfif' %}); background-repeat: no-repeat; background-size: cover;">

                        <div class="overlay"></div>
                        <div class="card-content" style="opacity: 100%;z-index: 1;">
                            <h1>طب القلب</h1>
                            <p>نحن سعداء للتعامل معنا ونرجو الا تكون اخر معامله بيننا
                            </p>
                            <button class="btn btn-primary book"><a href="{% url 'heart' %}">استعلام</a></button>
                        </div>

                    </div>
                    <div class="swiper-slide serv-content"
                        style="background-image: url({% static 'Home/Image/service3.jfif' %}); background-repeat: no-repeat; background-size: cover;">

                        <div class="overlay"></div>
                        <div class="card-content" style="opacity: 100%;z-index: 1;">
                            <h1>طب الكلى</h1>
                            <p>نحن سعداء للتعامل معنا ونرجو الا تكون اخر معامله بيننا
                            </p>
                            <button class="btn btn-primary book"><a href="{% url 'kidney' %}">استعلام</a></button>
                        </div>

                    </div>

                    <div class="swiper-slide serv-content"
                        style="background-image: url({% static 'Home/Image/service4.jpg' %}); background-repeat: no-repeat; background-size: cover;">

                        <div class="overlay"></div>
                        <div class="card-content" style="opacity: 100%;z-index: 1;">
                            <h1>علم الأورام</h1>
                            <p>نحن سعداء للتعامل معنا ونرجو الا تكون اخر معامله بيننا
                            </p>
                            <button class="btn btn-primary book"><a href="{% url 'oncology' %}">استعلام</a></button>
                        </div>

                    </div>

                    <div class="swiper-slide serv-content"
                        style="background-image: url({% static 'Home/Image/service5.jfif' %}); background-repeat: no-repeat; background-size: cover;">

                        <div class="overlay"></div>
                        <div class="card-content" style="opacity: 100%;z-index: 1;">
                            <h1>اخصائي اطفال</h1>
                            <p>نحن سعداء للتعامل معنا ونرجو الا تكون اخر معامله بيننا
                            </p>
                            <button class="btn btn-primary book"><a href="{% url 'children' %}">استعلام</a></button>
                        </div>

                    </div>

                    <div class="swiper-slide serv-content"
                        style="background-image: url({% static 'Home/Image/service6.jfif' %}); background-repeat: no-repeat; background-size: cover;">

                        <div class="overlay"></div>
                        <div class="card-content" style="opacity: 100%;z-index: 1;">
                            <h1>التوليد وأمراض النساء</h1>
                            <p>نحن سعداء للتعامل معنا ونرجو الا تكون اخر معامله بيننا
                            </p>
                            <button class="btn btn-primary book"><a href="{% url 'gyn' %}">استعلام</a></button>
                        </div>

                    </div>

                    <div class="swiper-slide serv-content"
                        style="background-image: url({% static 'Home/Image/service7.jfif' %}); background-repeat: no-repeat; background-size: cover;">

                        <div class="overlay"></div>
                        <div class="card-content" style="opacity: 100%;z-index: 1;">
                            <h1>اخصائي بصريات</h1>
                            <p>نحن سعداء للتعامل معنا ونرجو الا تكون اخر معامله بيننا
                            </p>
                            <button class="btn btn-primary book"><a href="{% url 'eyes' %}">استعلام</a></button>
                        </div>

                    </div>

                    <div class="swiper-slide serv-content"
                        style="background-image: url({% static 'Home/Image/service8.jfif' %}); background-repeat: no-repeat; background-size: cover;">

                        <div class="overlay"></div>
                        <div class="card-content" style="opacity: 100%;z-index: 1;">
                            <h1>انف واذن وحنجرة</h1>
                            <p>نحن سعداء للتعامل معنا ونرجو الا تكون اخر معامله بيننا
                            </p>
                            <button class="btn btn-primary book"><a href="{% url 'ear' %}">استعلام</a></button>
                        </div>

                    </div>

                    <div class="swiper-slide serv-content"
                        style="background-image: url({% static 'Home/Image/service9.jfif' %}); background-repeat: no-repeat; background-size: cover;">

                        <div class="overlay"></div>
                        <div class="card-content" style="opacity: 100%;z-index: 1;">
                            <h1>جراحة المسالك البولية</h1>
                            <p>نحن سعداء للتعامل معنا ونرجو الا تكون اخر معامله بيننا
                            </p>
                            <button class="btn btn-primary book"><a href="{% url 'urology' %}">استعلام</a></button>
                        </div>

                    </div>

                    <div class="swiper-slide serv-content"
                        style="background-image: url({% static 'Home/Image/service10.jfif' %}); background-repeat: no-repeat; background-size: cover;">

                        <div class="overlay"></div>
                        <div class="card-content" style="opacity: 100%;z-index: 1;">
                            <h1>الأشعة</h1>
                            <p>نحن سعداء للتعامل معنا ونرجو الا تكون اخر معامله بيننا
                            </p>
                            <button class="btn btn-primary book"><a href="{% url 'radiology' %}">استعلام</a></button>
                        </div>

                    </div>

                    <div class="swiper-slide serv-content"
                        style="background-image: url({% static 'Home/Image/service11.jfif' %}); background-repeat: no-repeat; background-size: cover;">

                        <div class="overlay"></div>
                        <div class="card-content" style="opacity: 100%;z-index: 1;">
                            <h1>طب الأسنان</h1>
                            <p>نحن سعداء للتعامل معنا ونرجو الا تكون اخر معامله بيننا
                            </p>
                            <button class="btn btn-primary book"><a href="{% url 'teeth' %}">استعلام</a></button>
                        </div>

                    </div>
                    <div class="swiper-slide serv-content"
                        style="background-image: url({% static 'Home/Image/service12.jfif' %}); background-repeat: no-repeat; background-size: cover;">

                        <div class="overlay"></div>
                        <div class="card-content" style="opacity: 100%;z-index: 1;">
                            <h1>فحص الثدي</h1>
                            <p>نحن سعداء للتعامل معنا ونرجو الا تكون اخر معامله بيننا
                            </p>
                            <button class="btn btn-primary book"><a href="{% url 'digestion' %}">استعلام</a></button>
                        </div>

                    </div>

                </div>
            </div>

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </section>
        <div class="serv-link" style="right: 85%;">
            <a class="link" href="{% url 'more_serv' %}">قراءه المزيد</a>
            <i class="fa fa-arrow-left-long"></i>

        </div>
    </div>

    <!-- Services -->

    <!--Who We Are -->

    <!-- <i class="fa-solid fa-quote-left"></i>
        <div class="container">
            <div class="text">
                <h1>Who We Are</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt neque consectetur facilis
                    distinctio dolor delectus tempore omnis molestias iste porro, fugiat sit hic tempora harum animi
                    officia error totam rem!</p>
            </div>
        </div> -->
    <!-- Testimonials -->
    <div class="testimonials who-we-are" id="who-we-are">
        <div class="overlay"></div>

        <div class="container">
            <div class="main-heading">
                <h1>فريق العمل</h1>
            </div>
            <div class="testimonials-content">

                <div class="ts-box">

                    <div class="person-info">
                        <img src="{% static 'Home/Image/try1.jpeg' %}" alt="">
                        <h4>Eng.Mohamed Magdy</h4>
                        <p>Web Developer</p>
                    </div>
                    <div class="media-icons">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-github"></i>
                    </div>
                </div>

                <div class="ts-box">

                    <div class="person-info">
                        <img src="{% static 'Home/Image/try2.jpeg' %}" alt="">
                        <h4>Eng.Mohamed Maher</h4>
                        <p>Web Developer</p>
                    </div>
                    <div class="media-icons">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-github"></i>
                    </div>
                </div>

                <div class="ts-box">

                    <div class="person-info">
                        <img src="{% static 'Home/Image/try3.jpeg' %}" alt="">
                        <h4>Eng.Mohamed Yasser</h4>
                        <p>Mobile Application</p>
                    </div>
                    <div class="media-icons">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-github"></i>
                    </div>
                </div>
                <div class="ts-box">

                    <div class="person-info">
                        <img src="{% static 'Home/Image/try4.jpeg' %}" alt="">
                        <h4>Eng.Marwa Mostafa Arafat</h4>
                        <p>CEO At Company</p>
                    </div>
                    <div class="media-icons">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-github"></i>
                    </div>
                </div>

                <div class="ts-box">

                    <div class="person-info">
                        <img src="{% static 'Home/Image/try5.jpeg' %}" alt="">
                        <h4>Eng.Mariam Khalefa</h4>
                        <p>CEO At Company</p>
                    </div>
                    <div class="media-icons">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-github"></i>
                    </div>
                </div>

                <div class="ts-box">

                    <div class="person-info">
                        <img src="{% static 'Home/Image/try6.jpeg' %}" alt="">
                        <h4>Eng.Soliman Mohamed</h4>
                        <p>CEO At Company</p>
                    </div>
                    <div class="media-icons">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-github"></i>
                    </div>
                </div>
                <div class="ts-box">
                    <div class="person-info">
                        <img src="{% static 'Home/Image/try7.jpeg' %}" alt="">
                        <h4>Eng.Hossam Mohamed Moftah</h4>
                        <p>CEO At Company</p>
                    </div>
                    <div class="media-icons">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-github"></i>
                    </div>
                </div>

                <div class="ts-box">

                    <div class="person-info">
                        <img src="{% static 'Home/Image/try8.jpeg' %}" alt="">
                        <h4>Eng.Magdy Yacoub</h4>
                        <p>CEO At Company</p>
                    </div>
                    <div class="media-icons">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-github"></i>
                    </div>
                </div>

                <div class="ts-box">
                    <div class="person-info">
                        <img src="{% static 'Home/Image/try9.jpeg' %}" alt="">
                        <h4>Eng.Al</h4>
                        <p>CEO At Company</p>
                    </div>
                    <div class="media-icons">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-github"></i>
                    </div>
                </div>


            </div>
        </div>
        <!-- Testimonials -->
    </div>
    <!-- ------------------------------------------------------------------------ -->
    <!--Who We Are -->

    <!-- Information -->
    <div class="informations">
        <div class="container">
            <div class="information active">
                <i class="fa-solid fa-user-doctor"></i>
                <h1>الأطباء</h1>
                <h4>٤٥٧</h4>
                <p>هذه المعلومات للعرض فقط.
                    ولا يمكن التحكم فيها الا من خلال مشرفى الموقع
                    وهذه المعلومات صحيحه ..</p>
            </div>
            <div class="information">
                <i class="fa-solid fa-hospital-user"></i>
                <h1>المرضى</h1>
                <h4>١٤٠١٦</h4>
                <p>هذه المعلومات للعرض فقط.
                    ولا يمكن التحكم فيها الا من خلال مشرفى الموقع
                    وهذه المعلومات صحيحه ..</p>
            </div>
            <div class="information">
                <i class="fa-solid fa-bed-pulse"></i>
                <h1>العمليات الجراحيه</h1>
                <h4>٥٢٤</h4>
                <p>هذه المعلومات للعرض فقط.
                    ولا يمكن التحكم فيها الا من خلال مشرفى الموقع
                    وهذه المعلومات صحيحه ..</p>
            </div>
            <div class="information">
                <i class="fa-solid fa-square-poll-vertical"></i>
                <h1>نتائج الإختبار</h1>
                <h4>١٤٠١٦</h4>
                <p>هذه المعلومات للعرض فقط.
                    ولا يمكن التحكم فيها الا من خلال مشرفى الموقع
                    وهذه المعلومات صحيحه ..</p>
            </div>
        </div>
    </div>
    <!-- Information -->

    <!-- Public FeedBack -->

    <div class="public-feed" id="feedback">
        <div class="main-heading">
            <h1>ردود الفعل</h1>
        </div>
        <section>

            <div class="swiper mySwiper container">
                <div class="swiper-wrapper content">

                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="{% static 'Home/Image/fed-1.jpg' %}" alt="">
                            </div>

                            <div class="media-icons">
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-github"></i>
                            </div>

                            <div class="name-profession">
                                <span class="name">محمد ماهر محمد</span>
                                <span class="profession">1900199</span>
                            </div>

                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>

                            </div>

                            <div class="button">
                                <button class="aboutMe">معلومات</button>
                                <button class="hireMe">مراسله</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="{% static 'Home/Image/fed-2.jpg' %}" alt="">
                            </div>

                            <div class=" media-icons">
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-github"></i>
                            </div>

                            <div class="name-profession">
                                <span class="name">محمد مجدى محمد</span>
                                <span class="profession">1900200</span>
                            </div>

                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>

                            </div>

                            <div class="button">
                                <button class="aboutMe">معلومات</button>
                                <button class="hireMe">مراسله</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="{% static 'Home/Image/fed-3.jpg' %}" alt="">
                            </div>

                            <div class="media-icons">
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-github"></i>
                            </div>

                            <div class="name-profession">
                                <span class="name">محمد ياسر بكر</span>
                                <span class="profession">1900204</span>
                            </div>

                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>

                            <div class="button">
                                <button class="aboutMe">معلومات</button>
                                <button class="hireMe">مراسله</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="{% static 'Home/Image/fed-4.jpg' %}" alt="">
                            </div>

                            <div class="media-icons">
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-github"></i>
                            </div>

                            <div class="name-profession">
                                <span class="name">مروة مصطفى عرفات</span>
                                <span class="profession">1900214</span>
                            </div>

                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>

                            </div>

                            <div class="button">
                                <button class="aboutMe">معلومات</button>
                                <button class="hireMe">مراسله</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="{% static 'Home/Image/fed-8.jpg' %}" alt="">
                            </div>

                            <div class="media-icons">
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-github"></i>
                            </div>

                            <div class="name-profession">
                                <span class="name">منة الله أشرف</span>
                                <span class="profession">1900231</span>
                            </div>

                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>

                            <div class="button">
                                <button class="aboutMe">معلومات</button>
                                <button class="hireMe">مراسله</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="{% static 'Home/Image/fed-6.jpg' %}" alt="">
                            </div>

                            <div class="media-icons">
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-github"></i>
                            </div>

                            <div class="name-profession">
                                <span class="name">منة الله عاطف</span>
                                <span class="profession">1900232</span>
                            </div>

                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>

                            <div class="button">
                                <button class="aboutMe">معلومات</button>
                                <button class="hireMe">مراسله</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="{% static 'Home/Image/fed-7.jpg' %}" alt="">
                            </div>

                            <div class="media-icons">
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-github"></i>
                            </div>

                            <div class="name-profession">
                                <span class="name">مريم خليفة</span>
                                <span class="profession">1900220</span>
                            </div>

                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>

                            <div class="button">
                                <button class="aboutMe">معلومات</button>
                                <button class="hireMe">مراسله</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="{% static 'Home/Image/fed-5.jpg' %}" alt="">
                            </div>

                            <div class="media-icons">
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-github"></i>
                            </div>

                            <div class="name-profession">
                                <span class="name">سهيلة احمد هلال</span>
                                <span class="profession">1900119</span>
                            </div>

                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>

                            <div class="button">
                                <button class="aboutMe">معلومات</button>
                                <button class="hireMe">مراسله</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="{% static 'Home/Image/fed-9.jpg' %}" alt="">
                            </div>

                            <div class="media-icons">
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-github"></i>
                            </div>

                            <div class="name-profession">
                                <span class="name">مي هاني حسني</span>
                                <span class="profession">1900239</span>
                            </div>

                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>

                            </div>

                            <div class="button">
                                <button class="aboutMe">معلومات</button>
                                <button class="hireMe">مراسله</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>


        </section>
    </div>

    <!-- Public FeedBack -->
    <div class="clear" style="clear: both;"></div>
    <!-- Feed Back -->
    <div class="feed-back">
        <div class="container">
            <button class="feed-back-btn" style="right:45%">رد فعلك</button>

            <div class="fedback">
                <div class="top">

                    <h3>فيزيتا</h3>
                    <h5>رد فعلك</h5>
                    <i class="fa-solid fa-xmark close"></i>

                </div>
                <hr>
                <div class="median">
                    <p>نود ملاحظاتك لتحسين موقعنا</p>
                    <p>ما هو رأيك</p>
                    <div class="faces">
                        <i class="fa-solid fa-poo "></i>
                        <i class="fa-regular fa-face-frown"></i>
                        <i class="fa-regular fa-face-smile"></i>
                        <i class="fa-regular fa-face-smile-beam active"></i>
                        <i class="fa-regular fa-face-kiss-wink-heart"></i>
                    </div>
                </div>
                <hr>
                <div class="last">
                    <p>الرجاء تحديد فئة رأيك</p>
                    <div class="btn btn-outline-dark">ممتاز</div>
                    <div class="btn btn-outline-dark ">شيء ما ليس صحيحا تماما</div>
                    <div class="btn btn-outline-dark">شكوى</div>
                </div>
                <hr>
                <div class="message">
                    <p class="error">يرجى ترك رسالتك لتحسين موقعنا</p>
                    <input type="text" name="" id="" class="form-control w-75 feedbackInput">
                    <button class="btn btn-success send">إرسال</button>

                </div>

            </div>
        </div>
    </div>
    <!-- Feed Back -->


    <!-- Footer -->
    <footer class="footer" id="contact">
        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-lg-3">
                        <div class="single-widget-home mb-5 mb-lg-0">
                            <h3 class="mb-4">أهم المنتجات</h3>
                            <ul>
                                <li class="mb-2"><a href="#">الموقع المدار</a></li>
                                <li class="mb-2"><a href="#">السمعة المدارة</a></li>
                                <li class="mb-2"><a href="#">أدوات كهربائية</a></li>
                                <li><a href="#">خدمة التسويق</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-5 offset-xl-1 col-lg-6">
                        <div class="single-widget-home mb-5 mb-lg-0">
                            <h3 class="mb-4">newsletter</h3>
                            <p class="mb-4">You can trust us. we only send promo offers, not a
                                single.</p>
                            <form action="#">
                                <input type="email" placeholder="Your email here" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Your email here'" required="">
                                <button type="submit" class="template-btn">subscribe now</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-xl-3 offset-xl-1 col-lg-3">
                        <div class="single-widge-home">
                            <h3 class="mb-4">موقعنا</h3>
                            <img src="Image/Map.jpg" alt="" style="width:400px; cursor: pointer;">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13948.35544600213!2d31.1137432!3d29.073519!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145a266c7d1ab631%3A0x298bc2cb6c1ca83c!2sBenisuef%20University%20Hospital!5e0!3m2!1sen!2seg!4v1651017408870!5m2!1sen!2seg"
                                width="400" height="200px" style="border:0; cursor: pointer;" allowfullscreen=""
                                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <p>

                            حقوق النشر © 2022 جميع الحقوق محفوظة | هذه
                            النموذج مصنوع من <i class="fa fa-heart-o" aria-hidden="true"></i> بواسطة
                            <span>Five
                                M</span>

                        </p>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="social-icons">
                            <div class="socialMedia1">
                                <a href="http://www.facebook.com" target="_blank"><i
                                        class="fa-brands fa-facebook-f"></a></i>

                                <a href="https://www.linkedin.com/" target="_blank"><i
                                        class="fa-brands fa-linkedin-in"></i></a>
                                <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                                <a href="https://www.instagram.com/" target="_blank"><i
                                        class="fa-brands fa-instagram"></i></a>
                                <a href="https://vimeo.com/" target="_blank"><i class="fa-brands fa-vimeo-v"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer -->


    <!-- JAVA SCRIPT -->
    <script src="{% static 'Home/Script/main.js' %}"></script>
    <!-- Swiper JS -->
    <!-- <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script> -->
    <script src="{% static 'Home/Script/slider.js' %}"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 3,
            spaceBetween: 30,
            slidesPerGroup: 3,
            loop: true,
            loopFillGroupWithBlank: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>

</body>

</html>