{% extends 'base.html' %} {% block content %}
{% if messages %}
{% for message in messages %}
<div class="m-auto w-50" id="success_alert">
  <h4 class="alert box-color text-white text-center">{{ message }}</h4>
</div>
{% endfor %}
{% endif %}
<section class="table mt-2 w-75 m-auto position" id="patient-table">
  <div  style="overflow-x:auto; padding: 10px;">
  <div class="container">
    <div class="row">
      <div class="add mb-3">
        <button type="button" class="btn btnsuccess text-white" data-toggle="modal" data-target="#addpatientCenter">
          Add Doctors
        </button>
      </div>
      <div class="main mb-3">
        <form action="{% url 'searchdoctor' %}" method="POST">
          {% csrf_token %}
          <div class="input-group">
            <input type="text" class="form-control" name="search" id="search" placeholder="Search">

            <div class="input-group-append">
              <button class="btn btn-secondary" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </div>
        </form>
      </div>

    </div>
    <table class="styled-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Department</th>
          <th>City</th>
          <th>Phone</th>
          <th>Created At</th>

          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for doc in docs %}
        <tr>
          <td>{{doc.name}}</td>
          <td>{{doc.dept}}</td>
          <td>{{doc.City}}</td>
          <td>{{doc.Phone}}</td>
          <td>{{doc.created_at}}</td>
          <td>
            <a href="{% url 'editdoctor' doc.id %}" class="btn btnsuccess" >
              <i class="fa fa-pen text-white"></i>
            </a>
            <a href="{% url 'deletedoctor' doc.id %}" class="btn btn-danger">
              <i class="fa fa-trash text-white"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
        <!-- and so on... -->
      </tbody>
    </table>
  </div>
</div>
  </div>
</section>

<div class="modal fade" id="addpatientCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Patient</h5>
        <div class="add">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="modal-body bg-light">
        <form action="{% url 'Dashboard/doctors' %}" method="post">
          {% csrf_token %}
          {{form.as_p}}
      </div>
      <div class="modal-footer">
        <a href="" class="btn btn-secondary" data-dismiss="modal">Close</a>
        <button type="submit" class="btn btnsuccess text-white">Save changes</button>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}