{% extends 'base.html' %} {% block content %}
<!-- Edit Clinc -->

<div class="container">
  <form
    class="ms-5 bg-light p-4 rounded-2"
    action="{% url 'updatedepartment' data.id %}"
    method="post"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <h3>Edit Clincal</h3>
    <!-- <input type="text" name="id" value="{{data.id}}" /> -->
    {{form.as_p}}
    <!-- <div class="form-group">
      <label for="exampleInputEmail1">Name</label>
      <input
        type="text"
        class="form-control"
        name="name"
        value="{{data.name}}"
      />
      <small id="emailHelp" class="form-text text-muted"
        >Please Do Not Leave any Input Be Empty</small
      >
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Start Day</label>
      <select name="startday" class="form-control" id="">
        <option selected value="{{data.Days}}">{{data.Days}}</option>
        <option value="Monday">Monday</option>
        <option value="Tuesda">Tuesday</option>
        <option value="Wednes">Wednesday</option>
        <option value="Thursd">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturd">Saturday</option>
        <option value="Sunday">Sunday</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">End Day</label>
      <select name="endday" class="form-control" id="">
        <option selected value="{{data.Days2}}">{{data.Days2}}</option>
        <option value="Monday">Monday</option>
        <option value="Tuesda">Tuesday</option>
        <option value="Wednes">Wednesday</option>
        <option value="Thursd">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturd">Saturday</option>
        <option value="Sunday">Sunday</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Description</label>
      <textarea name="desc" id="" class="form-control" cols="30" rows="10">
{{data.desc}}</textarea
      >
      <small id="emailHelp" class="form-text text-muted"
        >Please Do Not Leave any Input Be Empty</small
      >
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">IMG</label>
      <input type="file" value="{{data.img}}" name="img" class="form-control" />
      <small id="emailHelp" class="form-text text-muted"
        >Please Do Not Leave any Input Be Empty</small
      >
    </div>
    <div class="imgconttext-center mb-2">
      <img class="w-25" src="{{data.img.url}}" alt="" />
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Rate</label>
      <input
        type="number"
        name="rate"
        maxlength="5"
        minlength="0"
        class="form-control"
        value="{{data.rate}}"
      />
      <small id="emailHelp" class="form-text text-muted"
        >Please Do Not Leave any Input Be Empty</small
      >
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Price</label>
      <input
        type="number"
        value="{{data.price}}"
        name="price"
        class="form-control"
        id=""
      />
      <small id="emailHelp" class="form-text text-muted"
        >Please Do Not Leave any Input Be Empty</small
      >
    </div> -->
    <button type="submit" class="btn btnsuccess text-white">Submit</button>
  </form>
</div>
{% endblock %}
